<footer xmlns:n="http://nevow.com/ns/nevow/0.1"
	xmlns="http://www.w3.org/1999/xhtml">
	<div class="col">Sozialforum Heidelberg, AK Termine</div>
	<div class="col"><a href="/dyn/about">Kontakt</a></div>
	<div class="col"><a href="/dyn/privacy">Datenschutz</a></div>

	<div id="subscribe" class="col"
	  title="Wenn du deine Mailadresse hier hinterlässt,
		bekommst du immer Freitags die Termine für die nächste Woche zugeschickt.">
	<p>Immer freitags die aktuellen Termine in deiner Mailbox
		(<a href="/dyn/subscribe">Infos</a>):<br/>
		<form action="/subscribe" 
			class="small" method="post">
			<input name="email" style="width:75%" type="email" autocomplete="on"
				placeholder="you@example.com" /><br/>
			<label for="cha">Botschutz: tippe hier „sofo“:</label> 
			<input id="cha" name="cha" size="4"/>
			<input style="width:20%" value="Los" type="submit"/></form>
	</p>
	</div>
</footer>
