<div xmlns:n="http://nevow.com/ns/nevow/0.1"
     xmlns="http://www.w3.org/1999/html" class="standalone-event">
	<div class="event-links">
		<a class="toolbutton" style="line-height: 2.4rem" n:render="editLink">
			<i class="icon edit" />
		</a>
	</div>
	<h1 n:render="teaser"/>
	<p class="tags">
		<span class="tag" n:render="privateTag" />
    <n:invisible n:data="tags" n:render="sequence">
      <n:invisible n:pattern="item">
        <a class="tag" n:render="unicode">
          <n:attr name="href">/list?tag=<n:invisible n:render="urlencoded"/></n:attr>
        </a>&#xa0;
      </n:invisible>
    </n:invisible>
	</p>

	<p class="full-datetime">
		<span class="full-date">
	    	<span n:render="date" />
		</span>
		<span class="full-time">
	    	<span n:render="time"/>
		</span>
	</p>

	<p class="full-place" n:render="place" />

	<div class="full-description" n:render="description" />

	<div class="full-attach" n:render="ifany attachments">
	    <a n:render="attachmentLink"><i class="icon attachment"></i>PDF zum Termin</a>
	</div>

	<p class="ednote">Langtexte kommen meist von den VeranstalterInnen. 
	  Das Sozialforum ist hier nur Bote.</p>
</div>
