<header xmlns:n="http://nevow.com/ns/nevow/0.1"
        xmlns="http://www.w3.org/1999/html" class="navbar">
        <span class="sofo-logo"><strong>So</strong>fo</span>
        <span class="long-title" n:render="doctitle"/>
        <span class="navbar-text">
            <a href="/dyn/about" class="button-rounded contact-button">
                <i class="icon mail white"> </i>
                <span class="long-button">Kontakt</span>
            </a>
            <a href="/login" class="button-rounded add-button"
                n:render="ifuser">
                <i class="icon new white"> </i>
                <span class="long-button">Neuer Termin</span>
            </a>
            <a href="/edit" class="button-rounded add-button"
                n:render="ifsponsor">
                <i class="icon new white"> </i>
                <span class="long-button">Neuer Termin</span>
            </a>
        </span>
</header>

