<div xmlns:n="http://nevow.com/ns/nevow/0.1"
        xmlns="http://www.w3.org/1999/html">
    <n:invisible n:render="header"/>
    <div id="centerrow">
        <n:invisible n:render="sidebar"/>
        <div id="body" n:render="pagecontent"/>
    </div>
    <n:invisible n:render="footer"/>
</div>
