<n:invisible xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:n="http://nevow.com/ns/nevow/0.1">
	<n:invisible n:render="ifany fdate btime place"> 
	  <span class="datetime">
	      <span class="date" n:render="perhapsDate"/>
        <span class="time" n:render="time"/>
    </span>
    <span class="place" n:render="place"
        /><span class="sepcolon">:</span></n:invisible>
  <span class="shortcontent">
    <n:invisible n:render="teaser"/>
	  <a n:render="moreLink" class="moreLink">[Mehr]</a>
    <a class="editlink" n:render="editLink"/>
  </span>
</n:invisible>
