<div xmlns:n="http://nevow.com/ns/nevow/0.1"
	xmlns="http://www.w3.org/1999/xhtml"
	id="sidebar-container">

<label class="hamburger button-rounded" for="collapsible-menu-button">&#9776;</label>
<input class="hamburger" type="checkbox" id="collapsible-menu-button"/>

<nav id="sidebar">
<ul class="nobull vert-menu">
<li><a href="/cal">Kalender</a></li>
<li><a href="/list">Listenansicht</a></li>
<li><a href="/config">Eigene Kalender</a></li>
<li><a href="/archive">Archiv</a></li>
<li><a href="/search">Suchen</a></li>
<li><a href="/dyn/mitmachen">Mitmachen</a></li>
<li n:render="ifsponsor" class="separated">
  <a href="/edit">Neuer Termin</a>
</li>
<li n:render="ifsponsor">
  <a href="/dyn/howto">Hilfe zur Eingabe</a>
</li>
<li n:render="ifsponsor">
  <a name="unlogwidget" href="/login?__nevow_form__=login&amp;sponsor=no">Abmelden</a>
</li>
<li n:render="ifuser" class="separated">
  <a name="logwidget" href="/login">Termine eintragen</a>
</li>
</ul>
<!--
<div class="sidebarhighlight">
 <p>Siehe auch: <a href="https://sofo-hd.de/krise">Kritischer
Semesterstart</a></p>
</div>
-->
<div id="memOTD" n:render="ext memOTD"/>
</nav>
</div>
