<n:invisible xmlns:n="http://nevow.com/ns/nevow/0.1"
     xmlns="http://www.w3.org/1999/html">

<li class="event" n:render="ifcomplete">
    <p class="event-coords">
			<span class="head-time">
	    		<span n:render="time"/>
			</span>
			<span class="head-place">
	    		<span class="place" n:render="place" />
			</span>
    </p>

    <div class="collapsible-event-body" tabindex="0">
        <div class="event-links">
            <a class="toolbutton" n:render="moreLink">[Mehr]</a>
            <span n:render="privateTag" />
            <a class="toolbutton-sm" n:render="editLink">
                <i class="icon edit" />
            </a>
        </div>
        <h3 n:render="teaser" class="termhead"/>
        <div class="full-event-body"
              n:render="ifnoflag paper breakout">
             <div class="event-description" n:render="description" ></div>
        </div>

        <div class="null-event-body" n:render="ifflag paper">
             <a class="fullink" n:render="moreLink"/>
        </div>
    </div>
</li>

<li class="event-stub" n:render="ifincomplete">
    <p class="editlink" n:render="ifsponsor">
        Unvollständig <a n:render="editLink">[Edit]</a>
    </p>
</li>
</n:invisible>
