
/* BEGIN Global */

html {
	background-color: white;
	font-family:sans-serif;
}

html,body {
	margin: 0pt;
  line-height: 1.3;
}

body {
    font-family: Roboto,sans-serif;
}

body {
    font-weight: 300;
}


h1 {
	font-size: 200%;
	font-weight: 500;
}

h2 {
	font-size: 150%;;
	font-weight: 500;
}

h3 {
	font-size: 130%;
	font-weight: 450;
}

h4 {
	font-size: 130%;
	font-style: italic;
}

h5 {
	font-size: 120%;
	font-style: italic;
}

h6 {
	font-size: 100%;
	font-style: italic;
}

ul.nobull {
    list-style-type: none;
    padding-left: 0px;
    margin: 0pt;
}

.nobull li {
    margin-top: 0.5ex;
}


address {
    margin-top: 3ex;
}

dt {
    font-style: oblique;
    margin-top: 4pt;
}

a {
    cursor:pointer;
    text-decoration:none;
    color:#007bff
}
a:hover {
    text-decoration:underline;
    transition:all .3s ease-in-out
}

footer {
  margin-top: 6ex;
  padding-top: 1.5em;
  background-color:#202020;
  color: white;
  font-weight: 400;
  font-size: 90%;
}

footer a {
    color: #ccc;
}

footer a:hover {
    color: #eee;
    text-decoration: underline;
}


/* END Global */

/* BEGIN Pageframe, Header, Sidebar, Footer */

div#centerrow {
	position: relative;
	display: table-row;
	width: 100%;
}

#sidebar-container {
	display: table-cell;
	width: 10em;
	min-width: 10em;
  font-weight: 400;
  background-color: #e0ffbc;
  vertical-align: top;
}

#body {
	display: table-cell;
  vertical-align: top;
  padding: 0em 0.5em;
}

.toolbutton {
    padding: .25em .5em;
    color: #818a91;
    background-color: transparent;
    border: 0;
}

.toolbutton-sm {
    padding: .25em .5em;
    font-size: 75%;
    color: #818a91;
    background-color: transparent;
    border: 0;
}

.navbar-text {
	margin-bottom: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  white-space: nowrap;
}

#subscribe {
    display: inline-block
    width:250pt;
    height:35pt;
    top: 0pt;
    right: 0pt;
    text-align:right;
    padding-left:0.25em;
    padding-right:0.5em;
    padding-bottom:0.5ex;
    padding-top:0.5ex;
}

#subscribe p {
	margin-top: 0pt;
	margin-bottom: 2pt;
	font-size: 8pt;
}

#sidebar ul {
    padding-top: 0pt;
}

.sidebarhighlight {
    margin-top: 2ex;
    margin-bottom: 2ex;
    border-top: 3pt solid green;
    border-bottom: 3pt solid green;
    margin-top: 1ex;
    margin-bottom: 1ex;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
	background-color: #bcff6f;
}

nav {
    box-shadow: none;
    padding-top: 1ex;
    padding-bottom: 1ex;
}


.col {
    display: inline-block;
    padding: 1em;
}


/* END Pageframe */

/* BEGIN Misc components */

img.osmlink {
	border-style: none;
	vertical-align: middle;
	margin-right: 2pt;
	margin-left: 2pt;
}

p.full-datetime {
    margin: 1pt 0pt;
}

p.full-place, span.place {
    margin: 1pt 0pt;
    word-break: break-word;
}

div.full-description {
    margin-top: 1rem;
}


#alt-formats {
	display: block;
	position: absolute;
	right: 4pt;
	background: white;
	padding: 4pt;
	z-index: 20;
}

p.ednote {
    font-style: italic;
    font-size: 80%;
}

form.manualform {
    margin-left: 1em;
    padding: 0.5em;
    border: 1px solid black;
}

ul.horizontal {
    display:table-row;
    list-style-type: none;
}

ul.horizontal li {
    display: table-cell;
    padding-right: 1ex;
}

span.sofo-logo {
    font-size: 2.5em;
    font-weight: 300;
    display: inline-block;
    flex-shrink: 1;
}

span.long-title {
    font-weight: 300;
    font-size: 1.5em;
    padding-left: 5pt;
    white-space: nowrap;
    overflow: hidden;
}

div.standalone-event {
    max-width: 18cm;
}

.running-text #body {
	max-width: 19cm;
}

/* "toolbars"; here, children are forced to be next to each other */

div.toolbar {
    overflow: auto;
    white-space: nowrap;
}

div.toolbar * {
    display: inline;
    margin-right: 0.5ex;
}

.button-rounded {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375em 0.75em;
  font-size: 0.7em;
  line-height: 1.5;
  border-radius: 0.25em;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: 0.25em !important;
}

/* small forms for unobtrusive (typically single-field) inputs */

.small input {
    font-size: 8pt;
    border: 1px solid black;
}


/* ======================= replaceWithTextDoc helper styles (see sofo.js) */

.toBeReplaced {
    color: #0000ee;
}

.isReplaced {
    color: black;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top: 1px solid #777777;
    border-bottom: 1px solid #777777;
}

.notReplaced {
    color: #ff0000;
}

/* Tag cloud with js */

.checkboxmultichoice span {
	padding: 2pt;
}

.checkboxmultichoice span.selected {
	font-weight: bold;
}

.checkboxmultichoice span:hover {
	background: #eee;
	box-shadow: 2pt 2pt 1pt #aaa;
}

/* END misc components */

/* BEGIN Archive */
a.yearhead {
	text-decoration: none;
  color: #212529 !important;
}
a.yearhead.active {
    font-weight: 400;
}

a.monthlink {
	text-decoration: none;
    width: 100%;
    height: 100%;
}

ul.horizontalSelection {
    position: relative;
    list-style-type: none;
    display: flex;
    padding-left: 0pt;
    justify-content: space-between;
}

ul.horizontalSelection li {
    position: relative;
    border-left:2px solid white;
    padding: 2px;
}

ul.submenu {
    visibility: hidden;
    position: absolute;
    list-style-type: none;
    display: table-row;
    padding-left: 0px;
}

ul.horizontalSelection li:hover ul.submenu {
    visibility: visible;
}

ul.submenu li {
    display: table-cell;
    border-left:2px solid white;
    padding: 2px;
}


/* END Archive */

/* BEGIN Calendar */

div.monthbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.075);
}

div.monthbox a {
    position:relative;
}

div.monthbox .title {
    flex: 1 1 auto;
    text-align: center;
}

td.daybox {
    position: relative;
    width:14%;
    max-width:9em;
    height: 9em;
    overflow: hidden;
    vertical-align: top;
    padding: 0!important;
    border: 1pt solid rgb(222,226,230);
}

.dayevs * {
    white-space: nowrap;
}

.daylabel {
    width: 100%;
    height: 2.5ex;
    text-align: right;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding-right: 0.2em;
}

.dayevs {
    width: 100%;
    padding-left: 0px;
    /* 			margin-top: calc(2.5ex + 0.8em); */
}

.cropped th {
    overflow: hidden;
    padding: 2pt;
    font-weight: normal;
}

.calEvent {
    width: 100%;
    height: 1.5em;
    display: block;
    margin-bottom: 3pt;
    padding-top: 2pt;
    font-size: 0.8em;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: #ffecb3;
    color: #bf360c;
    border-left: 2pt solid #bf360c;
}

.evleftbar {
    width: 2px;
    height: 100%;
    float: left;
    display: block;
    margin-right: 0.2em;
}

#calendar {
  margin-top: 1em;
  border: 1px solid #dee2e6;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.075);
  color: #212529;
  border-collapse: collapse;
}
/* END Calendar */

.notime {
	font-style: italic;
	color: #cccccc;
}

p.tags {
	font-size: 70%;
	font-style: italic;
	color: #cccccc;
}

a.tag {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  color: #212529;
  background-color: #cc97f0;
}

/* END fullev */

/* BEGIN Eventlist/Timeline */

.oneday ul {
    margin-left: 1em;
    padding-left: 0px;
}

li.event {
    list-style: none;
    margin-top: 4mm;
}

.dayheading {
    position: relative;
    padding-top:3pt;
    margin-top:4ex;
    border-top: 1pt solid #dee2e6;
    padding-left: 2pt;
}

.event-coords {
	max-width: 100%;
	overflow: auto;
	background-color: white;
  padding: 2mm 4mm 2mm 0.5em;
  margin-right:0.5em;
	color: black;
	margin: 0pt;
	border-radius: 4mm 0 0 0;
	border: 1pt solid #eee;
}

.collapsible-event-body {
  display: block;
  max-height: 3cm;
  overflow: hidden;
  transition: max-height 200ms ease-out;
  padding-left: 0.5em;
  padding-top: 0.5em;
  margin-left: 0em;
  word-wrap: break-word;
  background-color: white;
  white-space: normal;
  margin-right:0.5em;
  margin-bottom:2em;
  background-image: linear-gradient(white, white, white, #efefef, white);
  text-overflow: ellipsis;
  word-break: break-word;
}

.collapsible-event-body:focus-within  {
  max-height: none;
  background-image: none;
}

.timeline {
    max-width: 18cm;
}

.event-links {
    float: right;
    z-index: 10
}

.head-time {
	font-weight: bold;
}

h3.termhead{
	margin-top: 0.2rem;
	margin-bottom: 0.4rem;
}

.event-description {
    margin-bottom: 0.3em;
}

/* END Eventlist */

/* BEGIN Icons  */
.icon {
    display: inline-block;
    background-size: 1.5em 1.5em;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}

.icon.place {
    background: url("static/svg/place.svg");
}
.icon.date {
    background: url("static/svg/date.svg");
}
.icon.time {
    background: url("static/svg/time.svg");
}
.icon.edit {
    background: url("static/svg/edit.svg");
}
.icon.mail {
    background: url("static/svg/mail.svg");
}
.icon.new {
    background: url("static/svg/new.svg");
}
.icon.attachment {
    background: url("static/svg/attachment.svg");
}
.icon.menu {
    background: url("static/svg/menu.svg");
}

/* If supported, we use the svg as mask, not as image.
 * That way, we can let the color of the icon change on hover.
 */
@supports(mask: url("static/svg/place.svg")) {
.icon {
    background: #000000 !important;
}
.icon.place {
    mask: url("static/svg/place.svg") center no-repeat;
    -webkit-mask: url("static/svg/place.svg") center no-repeat;
}
.icon.date {
    mask: url("static/svg/date.svg") center no-repeat;
    -webkit-mask: url("static/svg/date.svg") center no-repeat;
}
.icon.time {
    mask: url("static/svg/time.svg") center no-repeat;
    -webkit-mask: url("static/svg/time.svg") center no-repeat;
}
.icon.edit {
    mask: url('static/svg/edit.svg') center no-repeat;
    -webkit-mask: url('static/svg/edit.svg') center no-repeat;
}
.icon.mail {
    mask: url("static/svg/mail.svg") center no-repeat;
    -webkit-mask: url("static/svg/mail.svg") center no-repeat;
}
.icon.new {
    mask: url("static/svg/new.svg") center no-repeat;
    -webkit-mask: url("static/svg/new.svg") center no-repeat;
}
.icon.attachment {
    mask: url("static/svg/attachment.svg") center no-repeat;
    -webkit-mask: url("static/svg/attachment.svg") center no-repeat;
}
.icon.menu {
    mask: url("static/svg/menu.svg") center no-repeat;
    -webkit-mask: url("static/svg/menu.svg") center no-repeat;
}

a .icon {
    background: #818a91 !important;
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
}
a:hover .icon {
    background: #0056b3 !important;
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
}
.icon.white {
    background: #ccc !important;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.btn:hover .icon {
    background: #212529 !important;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
}

/* END Icons */

/* BEGIN Colors */

.button-rounded {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    padding-top: .4em;
    padding-bottom: .3em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: .81em;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: .375em;
    border: 0;
    border-radius: .125em;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
}

.add-button {
    background-color: #ffb74d;
    color: white;
}

.contact-button {
  background-color: #212121;
  color: white;
}

.button-rounded:active,
.button-rounded:focus,
.button-rounded:hover {
    box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    outline:0;
}
.button-rounded:not([disabled]):not(.disabled).active,
.button-rounded:not([disabled]):not(.disabled):active {
    box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)
}
/* END Colors */

/* BEGIN Misc */

fieldset {
    padding: 0 1em 1em;
    margin: .5em;
}
.private {
    background-color: #eeeeee;
    color: #666666;
}

/* List-based menus */
ul.vert-menu li {
  color: #273035;
  display: block;
  bg-transparent:transparent;
  margin: 0pt;
 	padding: 0.25em 0.5em;
 	line-height: 1.5;
 	border-bottom: 1pt solid rgba(0, 0, 0, 0.125);
}

ul.vert-menu li.separated {
	margin-top: 1em;
}
/* End list-based menus */

/* Balanced tables (two equal column width, used in docs) */

table.balanced {
    border-collapse: collapse;
    border-bottom: 	2px solid #888888;
    border-top: 	2px solid #888888;
}

.balanced th {
    padding-top:0.7ex;
    padding-bottom:0.7ex;
}

.balanced td {
    padding: 0.7ex;
    width: 50%;
    border: 1px solid #888888;
}


div.highlight {
    margin-top: 5ex;
    margin-bottom: 5ex;
    padding: 3pt;
    text-align: center;
    border-top: 5pt dashed #dd77aa;
    border-bottom: 5pt dashed #dd77aa;
}

/* END Misc */


/************************** media overrides. */
.hamburger {
    display: none;
}


@media(max-width: 20cm) {
    .long-button {
        display: none;
    }
}

@media(max-width: 15cm) {
	label.hamburger {
    	display: block;
    	font-size: 1em;
    	z-index: 20;
    	position: absolute;
    	top: 8pt;
    	left: 5pt;
	}

	.sofo-logo {
		margin-left: 70pt;
	}

  .long-title {
      display: none !important;
  }
  div#body {
      margin-left: 0!important;
  }
  .header {
      z-index: 10;
  }

	ul.vert-menu li {
  	padding: 0.75em 1.25em;
	}

	ul.vert-menu li.separated {
		margin-top: 0.5em;
		border-top: 1pt solid rgba(0, 0, 0, 0.125);
	}

  .contact-button {
      display: none!important;
  }

  #collapsible-menu-button.enabled {
  	display: block!important;
  	z-index: 10;
  }

  #sidebar {
  	display: none;
  }

  #sidebar-container {
  	display: block;
  	width: 0pt;
  }

  #body {
  	display: block;
		width: calc(100% - 1.5em);
  }

  input#collapsible-menu-button:checked ~ #sidebar {
  	background-color: #e0ffbc;
  	display: block;
  	z-index: 5;
  	position: absolute;
  	left: 0;
  	top: 0;
  	bottom: 0;
  	margin-top: 4em;
  	height: 100%;
  	width: 66%;

  }
}

@media(max-width: 10cm) {
	h3.termhead{
		font-size: 100%;
		margin-bottom: 0pt;
		margin-top: 0pt;
	}

	div.collapsible-event-body {
		max-height:2cm;
	}

	div#body {
		padding-left: 0pt;
	}

	ul {
		margin-left: 0pt;
	}

	.dayheading {
		margin-top: 0;
		font-size: 110%;
		font-style: italic;
	}

  .event-time:after {
      content: "•";
      margin-left: 0.5em;
      margin-right: 0.5em;
  }
  .timeline {
      padding-left: 0 !important;
      padding-right: 0 !important;
  }
  #body {
    padding-left: 0;
    padding-right: 0;
  }
  .dayheading {
      margin-left: 0;
      padding-top: 2px;
      border-bottom-width: 2px;
  }
}
