<div xmlns:n="http://nevow.com/ns/nevow/0.1"
	xmlns="http://www.w3.org/1999/xhtml" id="event-container">
	<n:invisible n:render="setOptions useFullURLs=true"/>
	<div n:data="eventlist nDays=30&amp;tag=unimut" 
			n:render="sequence">
		<n:invisible n:pattern="item">
			<p class="termhead"><strong n:render="dayhead"/></p>
			<div class="shortlist" n:data="1" n:render="sequence">
				<div class="termbody" n:pattern="item">
					<p n:render="listshort"/>
				</div>
			</div>
		</n:invisible>
	</div>
	<div id="multicurrent" n:data="multifuture 90" n:render="ifdata">
		<h4>Mehrtägiges</h4>
		<div n:render="sequence" class="termbody">
			<p n:pattern="item" n:render="fullshort"/>
		</div>
	</div>


</div>
